transferencia.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transferencias-bancarias">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="transferencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fecha" type="xs:date" />
              <xs:element name="emisor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="cuenta" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="receptor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="cuenta" type="xs:unsignedInt" />
                    <xs:element name="cantidad" type="xs:unsignedShort" />
                    <xs:element name="moneda" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>